<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img src="images/my image.jpg" alt="kushal" class="img-fluid" />
              </figure>
            </div>

            <!-- right side div -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h2>
                I am<span class="txt-color"> MERN Stack Developer </span>. 
              </h2>
              <p>email-id-neranikushal18@gmail.com
              </p>
              <a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><button id="checkBtn">Email</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer of web page -->
    {{>footer}}
    
  </body>
</html>
