@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Piazzolla", serif;
  box-sizing: border-box;
}
:root {
  --main-bg: #1e272e;
  --main-color: #0097e6;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.row {
  margin: 0;
}
.main_menu {
  background: var(--main-bg);
}
.navbar {
  color: #fff;
  background: var(--main-bg);
  padding: 1.5rem 0;
}
.navbar a {
  color: #fff;
  font-size: 1.8rem;
}
#navBtn {
  background-color: #fff;
}
.navbar li {
  margin-left: 2rem;
}
.navbar a:hover {
  color: var(--main-color);
}
.fa-snowflake {
  transition: all linear;
  animation: rot 2s linear infinite;
  color: var(--main-color);
}
@keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* main header */

.main_header_left {
  height: 70rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.main_header_left p {
  font-size: 2rem;
}
.main_header_left h2 {
  font-size: 3rem;
  margin: 1rem 0 4rem 0;
  text-transform: capitalize;
}
.main_header_left .txt-color {
  color: var(--main-color);
}
#checkBtn {
  border: none;
  padding: 0.8rem 1.8rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  box-shadow: 0px 8px 6px -6px #000;
  outline: none;
}
#checkBtn:hover {
  box-shadow: 0px 8px 6px -6px var(--main-color);
}
.main_header_right {
  height: 70rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

/* footer code */

footer {
  width: 100%;
  background: var(--main-bg);
  text-align: center;
  line-height: 5rem;
  font-size: 1.4rem;
  color: #fff;
  margin-top: auto;
}

@media (max-width: 768px) {
  .main_header_left {
    height: auto;
    margin: 5rem 0;
  }
  .main_header_right {
    height: auto;
    margin-top: 5rem;
  }
}




/* weather page */
.tempInformation {
  width: 40rem;
  margin: auto;
  min-height: 20rem;
  background-color: #323544;
  border-radius: 1rem;
  font-family: "Roboto", sans-serif;
}
.top_layer {
  width: 100%;
  height: 20%;
  display: flex;
  background-color: #2d303d;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}

.top_layer p {
  color: #fff;
  font-weight: 300;
  padding: 2rem;
  font-size: 1.4rem;
}

.main_layer {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.main_layer #city_name {
  /* padding: 2rem 0; */
  color: #bfc1c8;
  font-weight: 300;
  font-size: 2rem;
  padding-left:2rem;
}
.main_layer .middle_layer {
  display: flex;
  justify-content: space-around;
  color: #fff;
  align-items: center;
}
.main_layer .middle_layer p,
.main_layer .middle_layer .fa {
  font-size: 5rem;
  font-weight: 700;
}
.fa {
  color: #009ad8;
}
sup {
  font-size: 6rem;
  margin-top: -2rem;
}
.data_hide {
  visibility: hidden;
  transition: all 0.3s linear;
}

/* weather search */
.temp_form {
  width: 60%;
  position: relative;
  margin: 2rem auto 4rem;
}
.temp_form input[type="text"] {
  width: 100%;
  padding: 2rem 5rem 2rem 2rem;
  background-color: #1e202b;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.7rem;
  border-radius: 3rem;
}
::placeholder {
  color: #bfc1c8;
}
.temp_form #submitBtn{
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  border: none;
  background-color: #009ad8;
  padding: 0 3rem;
  border-radius: 3rem;
  color: white;
  font-size: 1.6rem;
}
.temp_form #submitBtn:hover {
  background-color: #fff;
  color: #009ad8;
}

#img{
  border-radius:5px;
}